DATABASE    Human   /path/to/FastQ_Screen_Genomes/Human/Homo_sapiens.GRCh38  BOWTIE2
DATABASE    Mouse   /path/to/FastQ_Screen_Genomes/Mouse/Mus_musculus.GRCm38  BOWTIE2
DATABASE    Rat /path/to/FastQ_Screen_Genomes/Rat/Rnor_6.0   BOWTIE2
DATABASE    Drosophila  /path/to/FastQ_Screen_Genomes/Drosophila/BDGP6   BOWTIE2
DATABASE    Yeast   /path/to/FastQ_Screen_Genomes/Yeast/Saccharomyces_cerevisiae.R64-1-1 BOWTIE2
DATABASE    Worm    /path/to/FastQ_Screen_Genomes/Worm/Caenorhabditis_elegans.WBcel235   BOWTIE2
DATABASE    Arabidopsis /path/to/FastQ_Screen_Genomes/Arabidopsis/Arabidopsis_thaliana.TAIR10    BOWTIE2
DATABASE    Ecoli   /path/to/FastQ_Screen_Genomes/E_coli/Ecoli   BOWTIE2
DATABASE    rRNA    /path/to/FastQ_Screen_Genomes/rRNA/GRCm38_rRNA   BOWTIE2
DATABASE    MT  /path/to/FastQ_Screen_Genomes/Mitochondria/mitochondria  BOWTIE2
DATABASE    PhiX    /path/to/FastQ_Screen_Genomes/PhiX/phi_plus_SNPs BOWTIE2
DATABASE    Lambda  /path/to/FastQ_Screen_Genomes/Lambda/Lambda  BOWTIE2
DATABASE    Vectors /path/to/FastQ_Screen_Genomes/Vectors/Vectors    BOWTIE2
DATABASE    Adapters    /path/to/FastQ_Screen_Genomes/Adapters/Contaminants  BOWTIE2
BOWTIE2 bowtie2
