DATABASE  Human /media/stephen/Data/genomes/FastQ_Screen_Genomes/Human/Homo_sapiens.GRCh38  BOWTIE2
DATABASE  Mouse /media/stephen/Data/genomes/FastQ_Screen_Genomes/Mouse/Mus_musculus.GRCm38  BOWTIE2
DATABASE  Rat /media/stephen/Data/genomes/FastQ_Screen_Genomes/Rat/Rnor_6.0 BOWTIE2
DATABASE  Drosophila  /media/stephen/Data/genomes/FastQ_Screen_Genomes/Drosophila/BDGP6 BOWTIE2
DATABASE  Yeast /media/stephen/Data/genomes/FastQ_Screen_Genomes/Yeast/Saccharomyces_cerevisiae.R64-1-1 BOWTIE2
DATABASE  Worm  /media/stephen/Data/genomes/FastQ_Screen_Genomes/Worm/Caenorhabditis_elegans.WBcel235 BOWTIE2
DATABASE  Arabidopsis /media/stephen/Data/genomes/FastQ_Screen_Genomes/Arabidopsis/Arabidopsis_thaliana.TAIR10  BOWTIE2
DATABASE  Ecoli /media/stephen/Data/genomes/FastQ_Screen_Genomes/E_coli/Ecoli BOWTIE2
DATABASE  rRNA  /media/stephen/Data/genomes/FastQ_Screen_Genomes/rRNA/GRCm38_rRNA BOWTIE2
DATABASE  MT  /media/stephen/Data/genomes/FastQ_Screen_Genomes/Mitochondria/mitochondria  BOWTIE2
DATABASE  PhiX  /media/stephen/Data/genomes/FastQ_Screen_Genomes/PhiX/phi_plus_SNPs BOWTIE2
DATABASE  Lambda  /media/stephen/Data/genomes/FastQ_Screen_Genomes/Lambda/Lambda  BOWTIE2
DATABASE  Vectors /media/stephen/Data/genomes/FastQ_Screen_Genomes/Vectors/Vectors  BOWTIE2
DATABASE  Adapters  /media/stephen/Data/genomes/FastQ_Screen_Genomes/Adapters/Contaminants  BOWTIE2
BOWTIE2 bowtie2
